@keyframes movingDistortion {
  from {
    transform: translateY(-10vh); }
  to {
    transform: translateY(110vh); } }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes whiteScreenStartup {
  40% {
    transform: scaleX(100);
    opacity: 1; }
  80% {
    transform: scale(100, 200); }
  100% {
    opacity: 0;
    transform: scale(100, 200); } }

@keyframes flicker {
  0% {
    opacity: 0.0275; }
  10% {
    opacity: 0.01735; }
  20% {
    opacity: 0.01985; }
  30% {
    opacity: 0.01337; }
  40% {
    opacity: 0.01528; }
  50% {
    opacity: 0.01508; }
  60% {
    opacity: 0.04962; }
  70% {
    opacity: 0.04148; }
  80% {
    opacity: 0.04103; }
  90% {
    opacity: 0.03145; }
  100% {
    opacity: 0.03179; } }

@keyframes noise {
  0% {
    transform: translate(44px, 50px); }
  25% {
    transform: translate(82px, 61px); }
  50% {
    transform: translate(74px, 3px); }
  75% {
    transform: translate(10px, 62px); }
  100% {
    transform: translate(6px, 79px); } }

#inputText {
  filter: blur(0.5px);
  position: fixed;
  color: #CCCCCC;
  font-family: "vcr";
  z-index: 100;
  font-size: 50px;
  top: 10%;
  left: 10%;
  pointer-events: none;
  animation: fadeOut 2s;
  animation-delay: 3s;
  animation-timing-function: linear;
  animation-fill-mode: both; }

#distortion {
  background-color: black;
  position: fixed;
  z-index: 98;
  height: 5%;
  width: 100%;
  top: 0px;
  left: 0px;
  opacity: 0.05;
  filter: blur(4px);
  pointer-events: none;
  animation: distortion 1s infinite;
  animation-timing-function: linear;
  animation-fill-mode: both; }

#movingDistortion {
  background-color: #AAAAAA;
  position: fixed;
  z-index: 98;
  height: 5%;
  width: 100%;
  top: 0px;
  left: 0px;
  opacity: 0.1;
  filter: blur(4px);
  pointer-events: none;
  animation: movingDistortion 15s infinite;
  animation-timing-function: linear;
  animation-fill-mode: both; }

.fadeOut {
  animation: fadeOut 5s;
  animation-timing-function: linear; }

#noise {
  background: transparent;
  background-image: url(https://www.dropbox.com/s/h7ab1c82ctzy83n/noise.png?raw=1);
  position: fixed;
  z-index: 99;
  opacity: 0.2;
  top: -100px;
  right: -100px;
  bottom: -100px;
  left: -100px;
  pointer-events: none;
  animation: noise 0.2s infinite;
  animation-delay: 2s;
  animation-timing-function: linear;
  animation-fill-mode: both; }

#quickMovingDistortion {
  background-color: white;
  position: fixed;
  z-index: 101;
  height: 10%;
  width: 100%;
  top: 0px;
  left: 0px;
  opacity: 0.1;
  filter: blur(4px);
  pointer-events: none;
  animation: movingDistortion 0.15s 7;
  animation-delay: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: both; }

#blackScreen {
  background-color: black;
  position: fixed;
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  pointer-events: none;
  animation: fadeOut 3s;
  animation-delay: 1s;
  animation-timing-function: linear;
  animation-fill-mode: both; }

#flicker {
  background-color: black;
  position: fixed;
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  pointer-events: none;
  animation: flicker 0.15s infinite;
  animation-delay: 3s; }

#whiteScreen {
  background-color: white;
  position: fixed;
  z-index: 100;
  height: 0.5%;
  width: 1%;
  top: 50%;
  left: 50%;
  pointer-events: none;
  animation: whiteScreenStartup;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: both; }
